<section class="p-4">
  <!-- Seção de Título e Imagem -->
  <div class="shadow-md bg-green-default p-4 rounded-lg mb-4 grid grid-cols-1 md:grid-cols-3 items-center">
    <div class="flex flex-col justify-end p-3 col-span-2">
      <p class="text-gray-100 mb-4 md:mb-10">23 de Agosto, 2024</p>
      <h2 class="text-2xl md:text-4xl font-semibold">Como Prevenir a Dengue?</h2>
    </div>
    <img src="{{ url_for('static', path='assets/img/inseto.png') }}"
         alt="Imagem do inseto"
         class="justify-self-center md:justify-self-end mt-4 md:mt-0"
         style="max-height: 150px;
                max-width: 150px" />
  </div>
  <!-- Seção de Informação -->
  <div class="my-8">
    <h3 class="text-xl font-semibold">A Importância da Prevenção</h3>
    <p class="ml-2">
      A prevenção da dengue e o combate ao mosquito transmissor são fundamentais para controlar a propagação da doença e proteger a saúde pública. Descubra as principais medidas que você pode adotar.
    </p>
  </div>
  <!-- Seção de Video -->
  <div class="my-8">
    <p class="mb-6">O  vídeo abaixo destaca as principais formas de prevenção da dengue.</p>
    <div class="flex justify-center">
      <iframe width="560"
              height="315"
              src="https://www.youtube.com/embed/u3TydQGMmls?si=5Se-6K27GrmQQJgs"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
    </div>
  </div>
  <div class="my-8">
    <h3 class="text-xl font-semibold">Criadouros do Mosquito</h3>
    <p class="ml-2">
      O mosquito Aedes aegypti, transmissor da dengue, zika e chikungunya, se reproduz em locais onde há água parada, tornando fundamental eliminar esses criadouros para prevenir a proliferação do mosquito e, consequentemente, a disseminação dessas doenças.
      Principais Criadouros:
    </p>
    <ul class="list-disc ml-8">
      <li>
        <strong>Recipientes Descobertos:</strong>
        Baldes, caixas d'água, tonéis e tanques que acumulam água devem ser sempre bem tampados. Esses são os locais preferidos para a postura de ovos.
      </li>
      <li>
        <strong>Pratos de Plantas:</strong>
        Se não puder evitar o uso de pratos sob vasos de plantas, esvazie-os regularmente ou encha-os com areia até a borda para impedir o acúmulo de água.
      </li>
      <li>
        <strong>Lixo e Entulho:</strong>
        Garrafas, latas, pneus velhos e qualquer outro objeto que possa acumular água devem ser descartados corretamente ou mantidos em local coberto e seco.
      </li>
      <li>
        <strong>Calhas Entupidas:</strong>
        Mantenha as calhas limpas e desentupidas para evitar o acúmulo de água, um ambiente perfeito para o mosquito se reproduzir.
      </li>
    </ul>
  </div>
  <div class="my-8">
    <div class="flex justify-center">
      <figure class="flex flex-col items-center text-center">
        <img src="{{ url_for('static', path='assets/img/fonte-mosquito.png') }}"
             alt="Imagem do Nível de Incidência"
             style="max-height: 450px;
                    max-width: 450px" />
      </figure>
    </div>
  </div>
  <p class="text-sm ml-2">
    Lembre-se de que o ciclo de vida do mosquito é rápido, e ele pode passar de ovo a adulto em apenas 7 dias. Faça inspeções semanais em sua casa e elimine qualquer ponto de água parada.
  </p>
  <div class="my-8">
    <h3 class="text-xl font-semibold">Medidas de Proteção Individual</h3>
    <p class="ml-2">
      Proteger-se das picadas do mosquito Aedes aegypti é essencial para evitar a dengue, zika e chikungunya. Adotar medidas de proteção individual é uma das formas mais eficazes de se prevenir contra essas doenças.
    </p>
  </div>
  <!-- Seção de Imagem -->
  <div class="my-8">
    <div class="flex justify-center mb-2">
      <figure class="flex flex-col items-center text-center">
        <figcaption class="text-sm mb-2">
          Confira a imagem abaixo para visualizar as principais medidas de proteção individual:
        </figcaption>
        <img src="{{ url_for('static', path='assets/img/prevencao.png') }}"
             alt="Imagem de Proteção Individual"
             style="max-height: 600px;
                    max-width: 600px" />
      </figure>
    </div>
    <p class="text-sm ml-2">Dica Importante:</p>
    <p class="text-sm ml-2">
      Estas medidas são especialmente importantes para pessoas em áreas de risco ou que passam muito tempo ao ar livre. A proteção individual é uma defesa essencial e complementa as ações de controle do mosquito na comunidade.
    </p>
  </div>
  <div class="my-8">
    <h3 class="text-xl font-semibold">Programas de Monitoramento e Educação</h3>
    <p class="ml-2">
      O Brasil conta com o apoio do Ministério da Saúde e secretarias estaduais e municipais de saúde para combater a dengue, que desenvolvem em conjuntos coordenação de ações, distribuição de inseticidas e materiais educativos e capacitação de profissionais. Desafios como o controle do mosquito Aedes aegypti, falta de recursos e resistência da população às medidas de prevenção persistem.
      Exigir mais das autoridades é nosso direito e nossa responsabilidade. Juntos podemos construir um futuro mais saudável e seguro para todos.
      Para isso, você pode:
    </p>
    <ul class="ml-8">
      <li class="list-disc">
        Cobrar das autoridades locais investimentos em tecnologia e ações proativas para o combate à dengue.
      </li>
      <li class="list-disc">Participar de campanhas de conscientização e prevenção.</li>
      <li class="list-disc">
        Adotar medidas de proteção individual e familiar, como eliminar criadouros do mosquito Aedes aegypti.
      </li>
    </ul>
  </div>
  <div class="my-8">
    <h3 class="text-xl font-semibold">Soluções de Inteligência Geográfica</h3>
    <p class="ml-2">
      As tecnologias de inteligência geográfica (IG) surgem como soluções promissoras, permitindo a análise de dados geoespaciais para tomada de decisões mais inteligentes e eficientes. Essas tecnologias são aplicadas no monitoramento ambiental, gestão de recursos naturais, planejamento urbano, saúde e segurança pública.
      Imagine um futuro livre da dengue:
    </p>
    <ul class="ml-8">
      <li class="list-disc">
        Mapeamento preciso dos focos de mosquito: Com IG, podemos identificar com precisão os locais de maior risco, direcionando as ações de combate à dengue de forma mais eficiente.
      </li>
      <li class="list-disc">
        Alertas e campanhas personalizadas: A população pode receber alertas e informações sobre os riscos de dengue em suas áreas, além de dicas personalizadas de prevenção.
      </li>
      <li class="list-disc">
        Monitoramento constante: através de dados georreferenciados, podemos acompanhar a evolução da doença e identificar novos focos de mosquito permitindo ações preventivas mais eficazes.
      </li>
      <li class="mt-6 font-semibold">
        <a class="text-xl"
           href="https://blog.img.com.br/governo/combate-a-dengue-com-inteligencia-geografica-tecnologias-e-estrategias/">Veja mais sobre</a>
      </li>
    </ul>
  </div>
  <div class="my-8">
    <h3 class="text-xl font-semibold">Prevenção da Dengue: O Que Fazer e Quando Fazer</h3>
    <p class="ml-2">
      A prevenção da dengue é uma tarefa contínua que exige a colaboração de todos. Para proteger sua saúde e a da sua comunidade, é importante seguir uma rotina de cuidados que elimine os focos de criação do mosquito Aedes aegypti e minimize o risco de picadas. Abaixo, você encontra um guia prático de ações preventivas que devem ser realizadas em diferentes períodos:
    </p>
  </div>
  <div class="my-8">
    <div class="flex justify-center mb-2">
      <figure class="flex flex-col items-center text-center">
        <img src="{{ url_for('static', path='assets/img/acoes-semanais.png') }}"
             alt="Imagem de Proteção Individual"
             style="max-height: 600px;
                    max-width: 600px" />
      </figure>
    </div>
    <div class="flex justify-center mb-2">
      <figure class="flex flex-col items-center text-center">
        <img src="{{ url_for('static', path='assets/img/acoes-mensais.png') }}"
             alt="Imagem de Proteção Individual"
             style="max-height: 600px;
                    max-width: 600px" />
      </figure>
    </div>
    <div class="mt-6">
      <p class="text-sm ml-2">Dicas Importantes:</p>
      <p class="text-sm ml-2">
        Estas medidas são especialmente importantes para pessoas em áreas de risco ou que passam muito tempo ao ar livre. A proteção individual é uma defesa essencial e complementa as ações de controle do mosquito na comunidade.
      </p>
    </div>
  </div>
  <p class="font-semibold text-center">
    A luta contra a dengue é um compromisso de todos. Vamos juntos fazer a diferença!
  </p>
</section>
