body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.task-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-form input, 
.task-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.task-form button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.task-form button:hover {
    background-color: #218838;
}

.task-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* Centraliza horizontalmente o conteúdo das células */
}

.task-list th, .task-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; /* Centraliza horizontalmente o conteúdo das células */
    vertical-align: middle; /* Centraliza verticalmente o conteúdo das células */
}

.task-list th {
    background-color: #f8f9fa;
}

.task-list td {
    background-color: #fff;
}

.task-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.task-list tr:hover {
    background-color: #ddd;
}

.task-list button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    flex-shrink: 0;
}

/* Botão Editar */
.edit-btn {
    background-color: #007bff;
    color: #fff;
}

.edit-btn:hover {
    background-color: #0056b3;
}

/* Botão Excluir */
.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.delete-btn:hover {
    background-color: #c82333;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .task-form input, 
    .task-form textarea {
        font-size: 14px;
    }

    .task-list table {
        font-size: 14px;
    }

    .task-list button {
        padding: 5px;
    }
}
