{% extends "exception/base-exceptions.html" %}
{% block title %} Server Error {% endblock %}


{% block content %}
  <div class="row justify-content-center">
    <div
      class="py-3"
      style="margin-top: 14rem;"
    >
      <div class="text-center">
        <p class="lead">Oops! Algo deu errado no servidor</p>
        <p>Estamos trabalhando para corrigir o problema. Nossa equipe foi notificada e está investigando. Por favor, tente novamente mais tarde.</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center position-absolute top-50 start-50 translate-middle">
    <div class="px-4 text-center">
      <h1>500</h1>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top: 10rem;">
    <div class="py-4 text-center ">
      <a href="/">
        <i class="fas fa-arrow-left me-1"></i>
        volte para Inicio
      </a>
    </div>
  </div>
{% endblock %}
