<section class="p-4">
  <!-- Seção de Título e Imagem -->
  <div class="shadow-md bg-green-default p-4 rounded-lg mb-4 grid grid-cols-1 md:grid-cols-3 items-center">
    <div class="flex flex-col justify-end p-3 col-span-2">
      <p class="text-gray-100 mb-4 md:mb-10">23 de Agosto, 2024</p>
      <h2 class="text-2xl md:text-4xl font-semibold">Impactos na Sociedade e Economia</h2>
    </div>
    <img src="{{ url_for('static', path='assets/img/inseto.png') }}"
         alt="Imagem do inseto"
         class="justify-self-center md:justify-self-end mt-4 md:mt-0"
         style="max-height: 150px;
                max-width: 150px" />
  </div>
  <!-- Seção de Informação -->
  <div class="my-8">
    <h3 class="text-xl font-semibold">Impactos na Sociedade e Economia</h3>
    <p class="ml-2 mb-3">
      A dengue tem causado impactos significativos e crescentes no Brasil ao longo dos anos, com surtos mais frequentes e severos que resultam em números elevados de casos e mortes. Esses surtos sobrecarregam o sistema de saúde e trazem desafios econômicos e sociais consideráveis. Abaixo, são destacados os principais impactos:
    </p>
    <ol class="list-decimal ml-6">
      <li>
        <p class="mb-3">
          <strong>Aumento nos Casos e Mortes</strong>
          <br />
          Os surtos de dengue frequentemente resultam em um aumento acentuado no número de casos e mortes relacionadas à doença. Isso sobrecarrega os sistemas de saúde e aumenta a demanda por recursos médicos, como leitos hospitalares, medicamentos e atendimento especializado
        </p>
      </li>
      <li>
        <strong>Desafios Socioeconômicos</strong>
        <br />
        A dengue tem um impacto econômico expressivo, levando à perda de dias de trabalho e escola devido à doença. Além disso, os custos de saúde aumentam tanto para os pacientes quanto para o sistema de saúde como um todo, devido à necessidade de tratamento médico prolongado e internamentos.
      </li>
      <li>
        <strong>Desafios no Diagnóstico e Tratamento</strong>
        <br />
        O diagnóstico preciso da dengue pode ser complicado, uma vez que os sintomas frequentemente se sobrepõem aos de outras doenças transmitidas por mosquitos, como chikungunya e zika. Esse desafio pode atrasar o início do tratamento adequado, elevando o risco de complicações.
      </li>
      <li>
        <strong>Impacto na Qualidade de Vida</strong>
        <br />
        A dengue pode impactar severamente a qualidade de vida dos pacientes, com sintomas debilitantes que podem durar semanas. Em casos graves, as complicações podem resultar em incapacidade temporária ou permanente, afetando a rotina diária e a capacidade de trabalho dos indivíduos.
      </li>
      <li>
        <strong>Impacto Psicossocial</strong>
        <br />
        A preocupação constante com a dengue e o medo de contrair a doença geram estresse psicológico e ansiedade nas comunidades afetadas. Esse impacto psicossocial pode deteriorar o bem-estar emocional e mental dos residentes, criando um ambiente de insegurança e preocupação constante.
      </li>
      <li>
        <strong>Prejuízos Econômicos Locais</strong>
        <br />
        Os surtos de dengue podem prejudicar o turismo e o comércio local, à medida que visitantes evitam áreas afetadas pela doença. Isso reduz a receita gerada pelo turismo, afetando negativamente a economia local e os negócios que dependem desse fluxo de visitantes.
      </li>
    </ol>
  </div>
  <div class="my-8">
    <h3 class="text-xl font-semibold mb-4">Como a Dengue Pode  Impactar a Economia?</h3>
    <h4 class="font-semibold mb-2">Ligações da Dente e a Economia</h4>
    <p>
      Os custos diretos e indiretos relacionados à dengue, incluindo despesas com tratamento médico, hospitalizações, perda de produtividade e medidas de controle do mosquito transmissor, representam um ônus significativo para as comunidades afetadas.
    </p>
  </div>
  <div class="my-8">
    <div class="flex justify-center">
      <figure class="flex flex-col items-center text-center">
        <img src="{{ url_for('static', path='assets/img/efeito-custo.png') }}"
             alt="Imagem do Nível de Incidência"
             style="max-height: 600px;
                    max-width: 600px" />
      </figure>
    </div>
  </div>
  <div class="my-8">
    <h4 class="font-semibold mb-2">Efeito de Custo</h4>
    <p>
      O tratamento das arboviroses representa uma carga financeira considerável, envolvendo despesas com medicação, consultas e exames. Estudos indicam que o custo médio por indivíduo no Brasil, considerando valores deflacionados para 2023, é de R$ 1.227,90. Esses custos afetam tanto o sistema público de saúde quanto as famílias, pressionando ainda mais os orçamentos.
    </p>
  </div>
  <div class="my-8">
    <div class="flex justify-center">
      <figure class="flex flex-col items-center text-center">
        <img src="{{ url_for('static', path='assets/img/custo-tratamento.png') }}"
             alt="Imagem do Nível de Incidência"
             style="max-height: 600px;
                    max-width: 600px" />
      </figure>
    </div>
  </div>
  <div class="my-8">
    <h4 class="font-semibold mb-2">Efeito Sobre a  Produtividade do trabalho</h4>
    <p>
      Os efeitos das arboviroses, especialmente da dengue, vão além da saúde pública, estendendo-se para a esfera econômica, com impactos diretos na produtividade e na renda das famílias. O Brasil precisa considerar esses efeitos ao planejar suas políticas de saúde e economia, especialmente em áreas altamente impactadas como Minas Gerais, onde o efeito total sobre o PIB estadual pode chegar a 0,66%, com perdas de R$ 5,7 bilhões. As medidas de controle e prevenção dessas doenças são cruciais para minimizar esses impactos e proteger a economia brasileira.
    </p>
  </div>
  <div class="my-8">
    <div class="flex justify-center">
      <figure class="flex flex-col items-center text-center">
        <img src="{{ url_for('static', path='assets/img/efeito-produtividade.png') }}"
             alt="Imagem do Nível de Incidência"
             style="max-height: 600px;
                    max-width: 600px" />
      </figure>
    </div>
  </div>
</section>
