<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="description" content="Pagina informativa sobre a dengue">
        <meta name="keywords" content="crise, doença, dengue">
        {% include "global/partials/_head.html" %}
        <title>Previna +</title>
    </head>
    <body class="bg-gray-100 font-sans antialiased">
        <div class="flex">
            {% include "global/partials/_sidebar.html" %}
            <div class="ml-64 flex-1 flex flex-col">
                {% include "global/partials/_header.html" %}
                <main class="p-6">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
        </div>
        {% include "global/partials/scripts.html" %}
    </body>
</html>
