<aside class="w-64 bg-green-default text-white fixed top-0 left-0 h-full p-4 text-start">
    <div class="flex justify-center items-center mb-6">
        <img src="{{ url_for('static', path='assets/img/inseto.png') }}"
             alt="Previna+"
             class="h-10 bg-none bg-transparent w-30 h-24 rounded-lg">
    </div>
    <nav class="mx-10">
        <ul>
            <li>
                <a href="/" class="block py-2">
                    <i class="fa-solid fa-table-columns mr-2"></i>Dashboard
                </a>
            </li>
            <li>
                <a href="/problems" class="block py-2">
                    <i class="fa-solid fa-table-columns mr-2"></i>O Problema
                </a>
            </li>
            <li>
                <a href="/causes" class="block py-2">
                    <i class="fa-solid fa-pen mr-2"></i>Causas
                </a>
            </li>
            <li>
                <a href="/impacts" class="block py-2">
                    <i class="fa-regular fa-note-sticky mr-2"></i>Impacto
                </a>
            </li>
            <li>
                <a href="/consequences" class="block py-2">
                    <i class="fa-regular fa-file-excel mr-2"></i>Consequências
                </a>
            </li>
            <li>
                <a href="/preventions" class="block py-2">
                    <i class="fa-solid fa-table-columns mr-2"></i>Prevenção
                </a>
            </li>
            <li>
                <a href="/testimonials" class="block py-2">
                    <i class="fa-regular fa-message mr-2"></i>Depoimentos
                </a>
            </li>
            <li class="mt-10">
                <a href="/faq" class="block py-2">
                    <i class="fa-solid fa-circle-question mr-2"></i>FAQ
                </a>
            </li>
        </ul>
    </nav>
</aside>
