.btn{
    /* display: inline-block; */
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #0e2946c4;
    border-color: #0e2946c4;
    color: #fff; 
    transition: background-color 0.3s;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    background-color: antiquewhite;
}

/* margin bottom */
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}


.mb-3 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 3rem;
}

/* margin top */
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 1.5rem;
}


.mt-3 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 3rem;
}

/* margin right */
.me-1 {
    margin-right: 1rem;
}

.me-2 {
    margin-right: 1.5rem;
}


.me-3 {
    margin-right: 2rem;
}

.me-4 {
    margin-right: 3rem;
}

/* margin left */
.ms-1 {
    margin-left: 1rem;
}

.ms-2 {
    margin-left: 1.5rem;
}


.ms-3 {
    margin-left: 2rem;
}

.ms-4 {
    margin-left: 3rem;
}


/* padding bottom */
.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 1.5rem;
}


.pb-3 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 3rem;
}

/* padding top */
.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 1.5rem;
}


.pt-3 {
    padding-top: 2rem;
}

.pt-4 {
    padding-top: 3rem;
}

/* padding right */
.pe-1 {
    padding-right: 1rem;
}

.pe-2 {
    padding-right: 1.5rem;
}


.pe-3 {
    padding-right: 2rem;
}

.pe-4 {
    padding-right: 3rem;
}

/* padding left */
.ps-1 {
    padding-left: 1rem;
}

.ps-2 {
    padding-left: 1.5rem;
}


.ps-3 {
    padding-left: 2rem;
}

.ps-4 {
    padding-left: 3rem;
}