<section class="p-4">
    <!-- Seção de Título e Imagem -->
    <div class="shadow-md bg-green-default p-4 rounded-lg mb-4 grid grid-cols-1 md:grid-cols-3 items-center">
        <div class="flex flex-col justify-end p-3 col-span-2">
            <p class="text-gray-100 mb-4 md:mb-10">23 de Agosto, 2024</p>
            <h2 class="text-2xl md:text-4xl font-semibold">O que é dengue?</h2>
        </div>
        <img src="{{ url_for('static', path='assets/img/inseto.png') }}"
             alt="Imagem do inseto"
             class="justify-self-center md:justify-self-end mt-4 md:mt-0"
             style="max-height: 150px;
                    max-width: 150px" />
    </div>
    <!-- Seção de Informação -->
    <div class="my-8">
        <h3 class="text-xl font-semibold">O que é a dengue?</h3>
        <p>
            A dengue é uma doença febril provocada por um vírus, o qual é transmitido pelos seres humanos por meio da picada de um mosquito. Ocorre com maior frequência em países tropicais, onde o regime de chuvas e as altas temperaturas favorecem o desenvolvimento do mosquito transmissor da doença.
        </p>
    </div>
    <!-- Seção de Video -->
    <div class="my-8">
        <div class="flex justify-center">
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/kfAafEi6SJo?si=SGb7REt9EobPppt7"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="my-8">
        <h3 class="text-xl font-semibold">A Dengue no Ceará</h3>
        <p>
            De acordo com o Boletim Epidemiológico Arboviroses Urbanas 2023, emitido pelo governo do estado do Ceará, até a Semana Epidemiológica 15 de 2023, o Ceará notificou 10.864 casos suspeitos de dengue, dos quais 24,4% foram confirmados, resultando em uma taxa de incidência de 117,6 casos por 100 mil habitantes, classificada como média. Municípios como Brejo Santo, Bela Cruz, Jaguaribe e Groaíras enfrentaram uma incidência muito alta da doença, enquanto outros, como Monsenhor Tabosa, Jati, Nova Russas, Ocara, Jijoca de Jericoacoara e Palmácia, também registraram números consideráveis.
        </p>
    </div>
    <!-- Seção de Imagem -->
    <div class="my-8">
        <div class="flex justify-center">
            <img src="{{ url_for('static', path='assets/img/metricas.png') }}"
                 alt="Imagem do Ceará"
                 style="max-height: 400px;
                        max-width: 400px" />
        </div>
    </div>
    <p>
        Os dados apresentados têm como fonte oficial o Sinan e, portanto, para que sejam dados atualizados, se faz necessária a inserção, investigação e encerramento oportunos das notificações pelas unidades notificadoras municipais no banco de dados oficial (Sinan).
    </p>
    <div class="my-8">
        <h3 class="text-xl font-semibold">Cenário Epidemiológico da Dengue</h3>
        <p>
            Até a SE 15 de 2023 foram notificados no Sinan 10.864 casos suspeitos de dengue no Ceará. Destes, 24,4% (2.653/10.864) foram confirmados, 40,6% (4.416/10.864) descartados. O critério de confirmação dos casos por exame laboratorial foi de 50,4% (1.337/2.653) e 49,6% (1.316/2.653) por critério clínico-epidemiológico. A taxa de incidência dos casos notificados no estado é de 117,6 casos por 100 mil habitantes, considerada média. O Diagrama de Controle da Dengue apresenta taxa de incidência de casos notificados (linha preta pontilhada) acima da média móvel entre as SE 09 e 11, e nas semanas seguintes a incidência ficou
            abaixo do limite esperado, caracterizando um cenário de baixa transmissão de dengue (Figura 3).
        </p>
    </div>
    <!-- Seção de Imagem -->
    <div class="my-8">
        <div class="flex justify-center">
            <img src="{{ url_for('static', path='assets/img/grafico.png') }}"
                 alt="Imagem do Gráfico"
                 style="max-height: 600px;
                        max-width: 600px" />
        </div>
    </div>
    <p>
        O diagrama de controle é uma ferramenta para monitorar a situação de risco, possibilitando a
        identificação oportuna na mudança de períodos não epidêmico para epidêmico ou vice- versa:
    </p>
    <div class="my-8">
        <div class="flex justify-center">
            <img src="{{ url_for('static', path='assets/img/nivel-incidencia.png') }}"
                 alt="Imagem do Nível de Incidência"
                 style="max-height: 600px;
                        max-width: 600px" />
        </div>
    </div>
    <p>
        Na figura 4, os municípios de Monsenhor Tabosa, Jati, Nova Russas, Ocara, Jijoca de Jericoacoara e Palmácia apresentam incidência de casos notificados, considerada ALTA (acima de 300 casos por 100 mil habitantes) e os municípios de Brejo Santo, Bela Cruz, Jaguaribe e Groaíras com incidência MUITO ALTA (acima de 1.000 casos por 100 mil habitantes). No tocante à incidência dos casos confirmados, quatro municípios foram classificados com ALTA incidência.
    </p>
    <div class="my-8">
        <div class="flex justify-center">
            <figure class="flex flex-col items-center text-center">
                <figcaption class="mb-2 text-gray-700">
                    Figura 4. Incidência acumulada dos casos notificados e confirmados de dengue, Ceará, 2023*
                </figcaption>
                <img src="{{ url_for('static', path='assets/img/mapa-calor.png') }}"
                     alt="Imagem do Nível de Incidência"
                     style="max-height: 600px;
                            max-width: 600px" />
            </figure>
        </div>
    </div>
    <div class="my-8">
        <div class="flex justify-center">
            <figure class="flex flex-col items-center text-center">
                <figcaption class="mb-2 text-gray-700">
                    Figura 6. Casos confirmados de dengue segundo sexo e faixa etária, Ceará, 2023*
                </figcaption>
                <img src="{{ url_for('static', path='assets/img/casos-por-sexo.png') }}"
                     alt="Imagem do Nível de Incidência"
                     style="max-height: 600px;
                            max-width: 600px" />
            </figure>
        </div>
    </div>
    <p>
        Em 2024, a dengue no Brasil alcançou proporções alarmantes, com um número recorde de casos se aproximando de 2 milhões em meados de março, conforme relatado pelo Ministério da Saúde. A situação atraiu atenção internacional, com o Brasil sendo destacado como um precursor de uma crise de saúde para as Américas. A disseminação da doença para áreas anteriormente não afetadas, incluindo os Estados Unidos, agrava ainda mais a situação.
    </p>
    <div class="my-8">
        <div class="flex justify-center">
            <figure class="flex flex-col items-center text-center">
                <img src="{{ url_for('static', path='assets/img/numero-casos.png') }}"
                     alt="Imagem do Nível de Incidência"
                     style="max-height: 600px;
                            max-width: 600px" />
            </figure>
        </div>
    </div>
    <p>
        Segundo projeções do Ministério, o país deve chegar a inéditas 4,2 milhões de infecções até o fim de 2024. O total representará uma alta de 149% em relação ao ano com mais casos de dengue no Brasil, 2015, quando foram 1.688.688 de infecções.
    </p>
</section>
